{% extends "blog/base.html" %}

{% block content %}

{% for post in posts %}

<div class="card ">
    <div style="background-color : rgba(0,0,0,.03)">
        <img class="rounded-circle" src="{{ post.name.profile.image.url}}">
        <h5 class="card-header ">{{ post.name }} on {{ post.posted | date:"F d, Y" }}</h5>
    </div>
    <div class="card-body text-white bg-dark">
        <h5 class="card-title ">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
    </div>
</div>
<br>
{% endfor %}

{% endblock content %}